@{
    var DBContext = ViewBag.Context as ApplicationDBContext;

    int ID = int.Parse((string)TempData["UserID"]);
    User SelectedUser = null;

    foreach(User CurrentUser in DBContext.Users)
    {
        if(CurrentUser.ID == ID)
        {
            SelectedUser = CurrentUser;
        }
    }
}

<center>
    <img class="avatar" src="/css/avatars/default.jpg">
</center>

<form action="/css/upload.php" method="POST" enctype="multipart/form-data">
    <center><input type="file" name="imageToUpload"></center>
    <center><input type="submit" name="submit" value="Submit"></center>
</form>

<div class="form-group">
    <label for="Username">Username:</label>
    <input class="form-control" type="text" name="Username" value="@SelectedUser.Username">
    <p></p>
</div>

<div class="form-group">
    <label for="Password">Password:</label>
    <input class="form-control" type="password" name="Password" value="@SelectedUser.Password">
    <p></p>
</div>

<style>
    .avatar
    {
        width: 250px;
        height: 250px;
        border: 1.5px solid #000;
    }

    .form-group {
        width: 700px;
        transform: translateX(40%);
    }
</style>