﻿@{
    ViewBag.Title = "Login";
}

<div class="row" >
    <!-- Additional Login Options -->
    <form asp-action="GoogleLogin" asp-controller="Login">
        <button class="btn btn-lg btn-primary">with Google</button>
    </form>
    <p></p>
    <form asp-action="FacebookLogin" asp-controller="Login">
        <button class="btn btn-lg btn-primary">with Facebook</button>
    </form>
    <p></p>
    <form asp-action="MicrosoftLogin" asp-controller="Login">
        <button class="btn btn-lg btn-primary">with Microsoft</button>
    </form>
    <p></p>
    <form asp-action="AppleLogin" asp-controller="Login">
        <button class="btn btn-lg btn-primary">with Apple</button>
    </form>

    <form asp-action="Index" asp-controller="Login" method="post">
        <!-- Login Details -->
        <div class="or_group">
            <p></p>
            <p>Or</p>
        </div>
        <!-- Display error message only if there are validation errors -->
        @if (!ViewData.ModelState.IsValid)
        {
            <div class="alert alert-danger">
                @Html.ValidationSummary()
            </div>
        }

        <div class="form-group">
            <label for="Username">Username:</label>
            <input class="form-control" type="text" name="Username" placeholder="Username">
            @if (TempData["UsernameError"] != null)
            {
                <div class="text-danger">@TempData["UsernameError"]</div>
            }
            <p></p>
        </div>

        <div class="form-group">
            <label for="Password">Password:</label>
            <input class="form-control" type="password" name="Password" placeholder="Password">
            @if (TempData["PasswordError"] != null)
            {
                <div class="text-danger">@TempData["PasswordError"]</div>
            }
            <p></p>
        </div>

        <div class="form-group">
            @Html.CheckBox("RememberMe", false)
            <label for="RememberMe">Remember Me</label>
        </div>

        <p></p>
        <button name="LoginBTN" class="btn_submit btn-lg btn-primary" type="submit">Log In</button>
        <p></p>
    </form>

    <a class="nav-link" asp-area="" asp-controller="Login" asp-action="ForgotPassword">Forgot Your Password?</a>
    <a class="nav-link" asp-area="" asp-controller="Login" asp-action="SignUp">Create A New Account</a>
</div>


<style>
    .btn
    {
        width: 800px;
        transform: translateX(30%);
    }

    .btn_submit
    {
        width: 400px;
        transform: translateX(100%);
    }

    .form-group {
        width: 700px;
        transform: translateX(40%);
    }

    .or_group
    {
        transform: translateX(47.5%);
    }
</style>