@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@inject IJsonHelper Json;

@using Final_Project_Web_Application.Data;
@{
    var DBContext = ViewBag.Context as ApplicationDBContext;
}

@{
    User SelectedUser = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Final Project Web Application</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Final_Project_Web_Application.styles.css" asp-append-version="true" />
</head>
<body onload="LoadDarkMode()">
    <header>
        <a class="nav-link header-image" asp-area="" asp-controller="Home" asp-action="Index">
            <img src="\css\logo\logo_light.png" id="logo" width="450" height="65" asp-controller="Home" asp-action="Index">
        </a>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div class="container-fluid header-text">
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link active" asp-area="" asp-controller="Home" asp-action="Index"><center>Home</center></a>
                        </li>
                        <li class="nav-item">
                            <div class="dropdown">
                                <a class="nav-link active dropbtn">
                                    <center>Read
                                        <i class="arrow down"></i>
                                    </center>
                                </a>
                                <div class="dropdown-content">
                                    <a asp-route-Genre="ActionAdventure" asp-controller="Read" asp-action="Index">Action & Adventure</a>
                                    <a asp-route-Genre="Classic" asp-controller="Read" asp-action="Index">Classic</a>
                                    <a asp-route-Genre="Crime" asp-controller="Read" asp-action="Index">Crime</a>
                                    <a asp-route-Genre="Drama" asp-controller="Read" asp-action="Index">Drama</a>
                                    <a asp-route-Genre="Fantasy" asp-controller="Read" asp-action="Index">Fantasy</a>
                                    <a asp-route-Genre="Horror" asp-controller="Read" asp-action="Index">Horror</a>
                                    <a asp-route-Genre="Mystery" asp-controller="Read" asp-action="Index">Mystery</a>
                                    <a asp-route-Genre="Non-Fiction" asp-controller="Read" asp-action="Index">Non-Fiction</a>
                                    <a asp-route-Genre="Romance" asp-controller="Read" asp-action="Index">Romance</a>
                                    <a asp-route-Genre="Satire" asp-controller="Read" asp-action="Index">Satire</a>
                                    <a asp-route-Genre="Sci-Fi" asp-controller="Read" asp-action="Index">Sci-Fi</a>
                                    <a asp-route-Genre="Thriller" asp-controller="Read" asp-action="Index">Thriller</a>
                                    <a asp-route-Genre="Western" asp-controller="Read" asp-action="Index">Western</a>
                                    <a asp-route-Genre="YoungAdult" asp-controller="Read" asp-action="Index">Young Adult</a>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" asp-area="" asp-controller="Forum" asp-action="Index"><center>Forums</center></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" asp-area="" asp-controller="Support" asp-action="Index"><center>Support</center> </a>
                        </li>
                        @if ((string)TempData["HasLoggedIn"] == "Yes")
                        {
                            string UserID = (string)TempData["UserID"];
                            int IntegerUserID = int.Parse(UserID);

                            SelectedUser = new User();

                            foreach(User CurrentUser in DBContext.Users)
                            {
                                if(CurrentUser.ID == IntegerUserID)
                                {
                                    SelectedUser = CurrentUser;
                                }
                            }

                            if(SelectedUser.SecLevel >= Final_Project_Web_Application.Models.User.SecurityLevel.Admin)
                            {
                                <li class="nav-item">
                                    <a class="nav-link active" asp-area="" asp-controller="AdminPanel" asp-action="Index"><center>Admin Panel</center></a>
                                </li>
                            }
                        }
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <div class="input-group">
                                <select class="select-button" aria-label="Search by">
                                    <option value="all">All</option>
                                    <option value="title">Title</option>
                                    <option value="author">Author</option>
                                    <option value="author">Description</option>
                                </select>
                                <input type="text" class="form-control" placeholder="Search..." name="title" aria-label="Fiction search">
                            </div>
                        </li>
                        <li class="nav-item">
                            <label class="switch">
                                <input type="checkbox" id="DarkModeSwitch" name="IsDarkMode" onclick="SwitchDarkMode()">
                                <span class="slider round"></span>
                                <script>
                                    function SwitchDarkMode()
                                    {
                                        var element = document.body;
                                        element.classList.toggle("dark-mode");

                                        if (element.classList.contains("dark-mode"))
                                        {
                                            $.ajax({
                                                type: "POST",
                                                url: '/Home/WriteCookie',
                                                data: { Value: "Yes" },
                                            });

                                            var pic = document.getElementById("logo");
                                            pic.src = "\\css\\logo\\logo_dark.png";
                                        }
                                        else
                                        {
                                            $.ajax({
                                                type: "POST",
                                                url: '/Home/WriteCookie',
                                                data: { Value: "No" },
                                            });

                                            var pic = document.getElementById("logo");
                                            pic.src = "\\css\\logo\\logo_light.png";
                                        }
                                    }

                                    function LoadDarkMode()
                                    {
                                        var IsDarkMode = '@TempData["IsDarkMode"]';

                                        if (IsDarkMode == "Yes")
                                        {
                                            document.getElementById("DarkModeSwitch").checked = true;

                                            var element = document.body;
                                            element.classList.toggle("dark-mode");

                                            var pic = document.getElementById("logo");
                                            pic.src = "\\css\\logo\\logo_dark.png";
                                        } 
                                    }
                                </script>
                            </label>
                            <style>
                                .switch {
                                    position: relative;
                                    display: inline-block;
                                    width: 60px;
                                    height: 34px;
                                    margin-left: 15px;
                                    margin-right: 15px;
                                }

                                /* Hide default HTML checkbox */
                                .switch input {
                                    opacity: 0;
                                    width: 0;
                                    height: 0;
                                }

                                /* The slider */
                                .slider {
                                    position: absolute;
                                    cursor: pointer;
                                    top: 0;
                                    left: 0;
                                    right: 0;
                                    bottom: 0;
                                    background-color: #2196F3;
                                    -webkit-transition: .4s;
                                    transition: .4s;
                                }

                                .slider:before {
                                    position: absolute;
                                    content: "";
                                    height: 26px;
                                    width: 26px;
                                    left: 4px;
                                    bottom: 4px;
                                    background-color: white;
                                    -webkit-transition: .4s;
                                    transition: .4s;
                                }

                                input:checked + .slider
                                {
                                    background-color: #404040;
                                }

                                input:focus + .slider {
                                    box-shadow: 0 0 1px #404040;
                                }

                                input:checked + .slider:before {
                                    -webkit-transform: translateX(26px);
                                    -ms-transform: translateX(26px);
                                    transform: translateX(26px);
                                }

                                /* Rounded sliders */
                                .slider.round {
                                    border-radius: 34px;
                                }

                                .slider.round:before {
                                    border-radius: 50%;
                                }
                            </style>
                        </li>
                        @if((string)TempData["HasLoggedIn"] != "Yes")
                        {
                            <li class="nav-item">
                                <a class="nav-link active login-btn" asp-area="" asp-controller="Login" asp-action="Index"><center>Login</center></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active login-btn" asp-area="" asp-controller="Login" asp-action="SignUp"><center>Register</center></a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <div class="dropdown">
                                    <a class="nav-link active dropbtn">
                                        <center>
                                            <span class="avatar"><img src="\css\avatars\default.jpg" alt=""></span>
                                            <strong class="username">@SelectedUser.Username</strong>
                                            <i class="arrow down"></i>
                                        </center>
                                    </a>
                                    <div class="dropdown-content">
                                        <a asp-controller="Profile" asp-action="Index">My Profile</a>
                                        <a asp-controller="Profile" asp-action="ReadList">Read List</a>
                                        <a asp-controller="Profile" asp-action="BorrowedItems">Borrowed Items</a>
                                        <a asp-controller="Profile" asp-action="Settings">Settings</a>
                                        <a asp-controller="Login" asp-action="SignOut">Logout</a>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <style>

        .arrow {
            border: solid #2d2d2d;
            border-width: 0 3px 3px 0;
            display: inline-block;
            padding: 3px;
            margin-bottom: 2.5px;
            position: relative;
            left: 30px;
            bottom: 2.5px;
        }

        .dark-mode .arrow {
            border: solid #898989;
            border-width: 0 3px 3px 0;
            display: inline-block;
            padding: 3px;
            margin-bottom: 2.5px;
        }

        .down {
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
        }

        .avatar img
        {
            width: 40px;
            height: 40px;
            margin-left: -43px;
            margin-top: -8px;
            border-radius: 50%;
        }

        strong.username
        {
            position: relative;
            left: 25px;
            bottom: 2.5px;
        }

        .dropbtn {
            color: white;
            padding: 13px;
            font-size: 16px;
            border: none;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            box-shadow: 0px 8px 13px 0px rgba(0,0,0,0.2);
            z-index: 1;
            width: -webkit-fill-available;
        }

        .dark-mode .dropdown-content {
            background-color: #1F1F1F;
            box-shadow: 0px 8px 13px 0px rgba(0,0,0,0.2);
        }

        .dropdown-content a {
            color: black;
            padding: 10px 10px;
            text-decoration: none;
            display: block;
        }

        .dark-mode .dropdown-content a {
            color: #b06ceb;
            padding: 10px 10px;
            text-decoration: none;
            display: block;
        }

        .dropdown-content a:hover {
            background-color: #ddd;
        }

        .dark-mode .dropdown-content a:hover {
            background-color: #333;
        }

        /* Show the dropdown menu on hover */
        .dropdown:hover .dropdown-content {
            display: block;
        }

        .dark-mode
        {
            background-color: #404040;
            color: #d3d3d3;
        }

        .dark-mode header
        {
            background-color: #1e1e1e;
        }

        .dark-mode .input-group
        {
            background-color: #404040;
            color: #d3d3d3;
        }

        .dark-mode .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show > .nav-link
        {
            background-color: #2f2f2f;
            border-color: hsl(0deg, 0%, 47.39%, 0.1);
            color: #b06ceb;
        }

        .dark-mode .select-button
        {
            background-color: #404040;
            color: #d3d3d3;
        }

        .dark-mode .form-control
        {
            background-color: #404040;
            color: white;
            border-color: hsla(0,0%,100%,.1);
        }

        header
        {
            background-color: #b2d3fb;
        }

        .header-image
        {
            margin-left: 25px;
        }
        .header-text
        {
            margin-right: 100px;
            margin-left: 100px;
        }

        .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show > .nav-link
        {
            padding-top: 0.75rem;
            height: 50px;
            width: 165px;
            background-color: #2e5575;
            color: #ffd575;
            border: 1px solid;
            border-color: #294459;
        }

        .login-btn{
            width: 109px!important;
        }

        .border-bottom
        {
            border-bottom: 1px solid #818181!important;
        }

        .navbar {
            padding-bottom: 0px;
        }
    </style>

    <!-- Footer -->
    <div class="page-footer footer">
        <div class="container">
            <div class="pull-left">
                &copy; Our Library Web Application 2023
            </div>
        </div>
    </div>
    <div class="scroll-to-top" style="display: block;">
        <i></i>
    </div>
    <div class="scroll-to-top-tooltip" style="display: none"> Tap again to scroll to the top! </div>

    <ul class="social-icons">
        <li>
            <a href="https://facebook.com/royalroadl" target="_blank" rel="noopener noreferrer" data-original-title="facebook" class="facebook" aria-label="Our Facebook Page"></a>
        </li>
        <li>
            <a href="https://twitter.com/royalroadl" target="_blank" rel="noopener noreferrer" data-original-title="twitter" class="twitter" aria-label="Our Twitter Page"></a>
        </li>
        <li>
            <a href="https://www.pinterest.co.uk/royalroadofficial/" target="_blank" rel="noopener noreferrer" data-original-title="pinterest" class="pintrest" aria-label="Our Pinterest Page"></a>
        </li>
        <li>
            <a href="https://www.instagram.com/royalroad.official" target="_blank" rel="noopener noreferrer" data-original-title="instagram" class="instagram" aria-label="Our Instagram Page"></a>
        </li>
    </ul>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>